# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Restaurant.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\royber manjarrez\RiderProjects\Restaurant\.idea\.idea.Restaurant\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
